{% extends 'base.html.twig' %}

{% block body %}
    <h1>Medecins list</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Ville</th>
                <th>Departement</th>
                <th>Region</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for medecin in medecins %}
            <tr>
                <td>{{ medecin.name }}</td>
                <td>{{ medecin.ville }}</td>
                <td>{{ medecin.ville.departement }}</td>
                <td>{{ medecin.ville.departement.region }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('medecin_show', { 'id': medecin.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('medecin_edit', { 'id': medecin.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <p>
            <a href="{{ path('medecin_new') }}" class="btn btn-primary">Creer un Medecin</a>
    </p>
{% endblock %}
